/* || Root Styling */

/* Colours */

:root {
  --Blue-100: hsl(225, 100%, 94%);
  --Blue-700: hsl(245, 75%, 52%);
  --Blue-50: hsl(225, 100%, 98%);
  --Gray-600: hsl(224, 23%, 55%);
  --Blue-950: hsl(223, 47%, 23%);
}

/* || Global Styling */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Red Hat Display", sans-serif, serif;
}
